#*
 * checksum-maven-plugin - http://checksum-maven-plugin.nicoulaj.net
 * Copyright © 2010-2016 checksum-maven-plugin contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
Generating checksum summary files
=================================

Rather than generating individual files in the form <<<file.algorithm>>>, the plugin can gather hashcodes in CSV or
XML files:

    <project>
      ...
      <build>
        <plugins>
          <plugin>
            <groupId>${project.groupId}</groupId>
            <artifactId>${project.artifactId}</artifactId>
            <version>${project.version}</version>
            <executions>
              <execution>
                <goals>
                  <goal>artifacts</goal>
                </goals>
              </execution>
            </executions>
            <configuration>
              <csvSummary>true</csvSummary>
              <csvSummaryFile>artifacts-checksums.csv</csvSummaryFile>
              <xmlSummary>true</xmlSummary>
              <xmlSummaryFile>artifacts-checksums.xml</xmlSummaryFile>
            </configuration>
          </plugin>
          ...
        </plugins>
      </build>
      ...
    </project>
