name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-latest', 'macos-latest', 'windows-latest' ]
        java: [ '8', '11', '15', '16' ]
        maven: [ '3.0.5', '3.1.1', '3.2.5', '3.3.9', '3.5.4', '3.6.3', '3.8.1' ]

    runs-on: ${{ matrix.os }}

    name: ${{ matrix.os }} - java ${{ matrix.java }} - maven ${{ matrix.maven }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Maven installation cache
      uses: actions/cache@v2
      with:
        path: ~/maven
        key: ${{ runner.os }}-maven-installation-${{ matrix.maven }}

    - name: Setup Maven repository cache
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-repo-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-repo-

    - name: Setup JDK
      uses: joschi/setup-jdk@v2
      with:
        java-version: ${{ matrix.java }}

    - name: Setup Maven
      shell: bash
      run: |
        if [[ ! -f ~/maven/bin/mvn ]]; then mkdir -p ~/maven && curl -s https://archive.apache.org/dist/maven/maven-3/${{ matrix.maven }}/binaries/apache-maven-${{ matrix.maven }}-bin.tar.gz | tar xvz --strip 1 -C ~/maven; fi

    - name: Build
      shell: bash
      run: |
        unset M2_HOME
        mkdir -p ~/.m2
        echo "<settings><mirrors><mirror><mirrorOf>central</mirrorOf><name>central</name><url>https://repo.maven.apache.org/maven2/</url></mirror></mirrors></settings>" > ~/.m2/settings.xml # reqiored by Maven < 3.2.3
        ~/maven/bin/mvn -V --batch-mode clean verify

    - name: Collect code coverage data
      if: success() && matrix.os == 'ubuntu-latest' && matrix.java == '8' && matrix.maven == '3.6.3'
      continue-on-error: true
      run: curl -s https://codecov.io/bash | bash
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    - name: Run Snyk to check for vulnerabilities
      if: success() && matrix.os == 'ubuntu-latest' && matrix.java == '8' && matrix.maven == '3.6.3'
      continue-on-error: true
      uses: snyk/actions/maven-3-jdk-11@master
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      with:
        args: --severity-threshold=high
